/Course.class
/Lesson.class
/Mark.class
/Specialty.class
/CourseFactory.class
/FreeCourse.class
/MajorCourse.class
/MinorCourse.class
/SpecialtyFactory.class
/Courses.class
/TestMain.class
/GraduateStudent.class
/ScheduleEntry.class
/InvalidMarkException.class
/AttestationResult.class
/Schedule.class
